h1 {
    color: #27aedb;
    text-align: center;
}

.button {
    display: block;
    width: 100px;
    height: 30px;
    outline: none;
    border: 0;
    text-transform: uppercase;
    background-color: black;
    color: #fff;
    cursor: pointer;
}