h1 {
    color: #27aedb;
    text-align: center;
}

.button {
    display: block;
    padding: 7px 15px;
    margin: 10px 0;
    outline: none;
    border: 0;
    text-transform: uppercase;
    background-color: #1c1c1c;
    color: #fff;
    cursor: pointer;
}