.movieList {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.movieList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
}

.movieList li:nth-child(odd) {
    background-color: #eee;
}

.movieList .button {
    display: inline-block;
    font-size: 0.8em;
    height: 26px;
    margin: 0 0 0 10px;
}

.movieTitle {
    font-weight: bold;
    text-transform: uppercase;
}

.movieInfo h3 {
    margin: 0;
}

.movieInfo ul {
    margin: 0;
    padding: 0;
    color: #555555;
}

.movieInfo li {
    padding: 5px 0;
    background: none;
}

.movieInfo li:nth-child(odd) {
    background: none;
}

.movieInfo p {
    color: #555555;
}

.pagination {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin: 0 20px;
}

.pagination a {
    outline: none;
    cursor: pointer;
}

.pagination .active {
    color: #27aedb;
}