.NewMovieFormWrapper {
    width: 400px;
    padding: 20px;
    background-color: #ddd;
}

.NewMovieFormWrapper label {
    margin-top: 10px;
}

.NewMovieFormWrapper input, .NewMovieFormWrapper select {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}

.NewMovieFormWrapper h1 {
    margin: 10px 0;
    font-size: 1.3em;
    text-transform: uppercase;
}

.removeButton {
    padding: 6px 15px 5px;
    font-size: 0.8em;
    background-color: #281E1F;
}

.addButton {
    width: 100%;
}

.submitButton {
    width: 100%;
    margin: 10px 0;
    background-color: #27aedb;
}